@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap');

body { padding: 0; margin: 0; font-family: 'Open Sans', sans-serif; }
.wrapper.active { margin-top: calc(53vh - 60px); transition: 0s;}
.Raleway {font-family: 'Raleway', sans-serif; font-weight: bold;}
.Montserrat {font-weight: bold; font-family: 'Montserrat', sans-serif;}

/* Modal */
.modal-header {background-color: #B97A59; display: flex; justify-content: flex-end;}
.modal-header button { order: 2;}
.fa-times { color: #FFFFFF; font-size: 24px;}
.modal-header h1 {font-weight: bold; font-family: 'Montserrat', sans-serif; color: white; order: 1; margin: auto;}
.modal-body {display: flex; justify-content: space-between; align-items: center;  flex-direction: column;}
.modal-body .block { padding: 5px;}
.modal-body .block input { position: relative; left: 20px;}
.password {margin-left: 4px;}
.modal-footer {display: flex; justify-content: center;}
.modal-footer input {background-color: #B97A59; color: #FFFFFF; border: none; padding: 15px 35px; font-size: 16px;}
.modal-footer input:hover {background-color: #6F4935;}
.block3 a {text-decoration: none;}

/* Navbar */

header {position: relative;top: 0;left: 0;width: 100%;box-sizing: border-box;height: 60px;}
header .logo {position: relative;float: left;}
header nav {float: right;}
header nav ul {margin: 0;padding: 0;display: flex;}
header nav ul li {list-style: none;}
#service-li.active {background-color: #f1f1f1;}
.dropdown-content {display: none; position: relative; }
.dropdown-content a {display: flex; flex-direction: column;}
.dropdown-content a:hover {background-color: #f1f1f1;}
header nav ul li:nth-child(2):hover .dropdown-content{ position: absolute; z-index: 1; display: block; background-color: white;}
header nav ul li a {height: 60px;line-height: 60px;padding: 0 30px;color: #B97A59;text-decoration: none!important;}
header nav ul li a:hover {color: black;}
.SignIn-Up {display: block; background-color: #B97A59; color: white;}
.SignIn-Up:hover {color: #FFFFFF; background-color: #6F4935;}
.menu-toggle {color: black;float: right;line-height: 60px;font-size: 24px;cursor: pointer;display: none;}
.fa-caret-down {margin-left: 5px;}

@media (max-width:990px) {
  header {height: 60px;}
  .menu-toggle {display: block; margin-right: 10px;}
  header nav {position: absolute; top: 62px; width: 100%; height: calc(100vh - 60px); left: -100%; }
  header nav.active {left: 0; transition: left ease-in;}
  header nav ul {display: block; text-align: center;}
  header nav ul li:nth-child(2) .dropdown-content.active {margin-bottom: 40px;}
  .dropdown-content {display: none; position: absolute; top: -100%;}
  .dropdown-content.active {display: block; width: 100%; top: 120px; -webkit-transition: top 0.4s; transition: top 0.4s;}
  #service-li.active {background-color: #f1f1f1;}
  #mySlider.active {position: relative; top: -31px;}
}


/* Mid Body */
#image-part { background: url("../Img/Enquiry.jpg"); background-size: cover; background-attachment: fixed; margin: 0; max-width: 100%; height: auto; width: auto\9; }
.content { background-color: black; opacity: 0.9; }
.box {flex-basis: 100%; color: white; z-index: 1; margin: 50px auto;}
.box img {width: 300px; height: 300px; z-index: 2; margin: 20px 0; border-radius: 5px;}
.box p {padding-bottom: 10px;}
.box form {border: 1px solid white; padding: 10px;}
.box form .inputs {padding: 10px;}
.box form .texting textarea {padding: 10px; flex: 1; color: black;}
.box form .inputs label {padding: 0 5px;}
.box form .inputs input {color: black; padding: 2px 5px;}
.box form .sub-btn button { background-color: #B97A59; color: white; border: none; padding: 10px;}
.box form .sub-btn button:hover { color: #FFFFFF; background-color: #6F4935;}
.box form p {color: green;}

@media (min-width: 900px) {
  .content {display: flex; flex-direction: column; justify-content: center;  text-align: center;}
  .box form .inputs {display: flex; justify-content: flex-start;}
}

/*Footer*/
footer {background-color: #F8F9FA; padding: 20px;}
footer .footer-hr {margin: 0 60px; border: 1px solid #B97A59;}
footer .footer-content {max-width: 1400px; margin: 10px auto 0 auto; text-align: center;}
@media (min-width: 900px) { footer .footer-content {display: flex; justify-content: space-between;}}
.footer-box {padding: 20px; margin-bottom: 20px; box-sizing: border-box; list-style: none; flex-basis: 30%;}
.footer-box h1 {font-weight: bold; font-family: 'Montserrat', sans-serif; color: black;}
.footer-box li {font-size: 16px;  padding: 5px; color: #337AC6;}
.footer-box:nth-child(3) li a {text-decoration: none;}
.footer-box hr {width: 200px; border: 1px solid #B97A59;}
.footer-last {display: flex; text-align: center; justify-content: center;}
.footer-delta { font-weight: bold; color: #B97A59;}
